@import './ContactForm';
@import './ContactOptions';

.ContactContent {
  position: relative;
}

.ContactMap {
  &__title {
    justify-self: center;
    align-self: center;
    padding: 0 2rem;
  }

}

.ContactBg {
  position: absolute;
  bottom: 0;
  z-index: -10;
  height: 6rem;
  width: 100%;
  overflow: hidden;
}
