.PortafolioForm {
  height: 100%;
  background-image: url('/img/bginvest.png');
  background-repeat: no-repeat;
  background-size: 120% 100%;
  margin: 0;
  padding: 4rem 1rem;
  background-color: transparent;

  @include from(lg) {
    padding: 1rem 1rem;
  }

  h2,
  h4 {
    color: white;
  }

  &__message {
    height: 100%;
  }

  &__thanks {
    font-size: 1rem;
    font-family: 'Montserrat';
    margin: 0;
  }

  &__input {
    input,
    textarea {
      width: 100%;
      padding: 1rem;
      border-radius: 0.5em;
      border: 1px solid #222;
      margin-bottom: 1rem;

      color: #222;
      background-color: white;
      font-family: 'BD Megatoya Light';
      font-size: 0.9em;
    }

    @include from(lg) {
      padding: 0rem;
    }
  }

  &__summitBtn {
    align-self: center;
    background-color: transparent;
    border: 2px solid white;
    font-family: 'BD Megatoya Bold';
    color: white;
    padding: 0.75rem 3rem;
    border-radius: 0.5em;

    &:hover {
      cursor: pointer;
    }
  }

  &__linkCalendly {
    color: white;
    font-family: 'BD Megatoya Regular';
    font-size: 1em;
    text-decoration: underline;
  }
}
