// Fonts imports
@font-face {
  font-family: 'Nexa Regular';
  src: url('/fonts/Nexa-Regular.otf');
}

@font-face {
  font-family: 'Nexa Light';
  src: url('/fonts/Nexa-Light.otf');
}

@font-face {
  font-family: 'Nexa Bold';
  src: url('/fonts/Nexa-Bold.otf');
}

@font-face {
  font-family: 'Nexa Heavy';
  src: url('/fonts/Nexa-Heavy.ttf');
}

@font-face {
  font-family: 'Nexa ExLight';
  src: url('/fonts/Nexa-ExtraLight.ttf');
}
