// Fonts imports
@font-face {
  font-family: 'BD Megatoya Regular';
  src: url('/fonts/BD Megatoya Regular.ttf');
}

@font-face {
  font-family: 'BD Megatoya Medium';
  src: url('/fonts/BD Megatoya Medium.ttf');
}

@font-face {
  font-family: 'BD Megatoya Light';
  src: url('/fonts/BD Megatoya Light.ttf');
}

@font-face {
  font-family: 'BD Megatoya Bold';
  src: url('/fonts/BD Megatoya Bold.ttf');
}
