.BioPage {
  background-color: var(--color-grey-900);
  color: white;
  margin: 0;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
  }

  &__adornoIzq {
    display: none;
  }

  &__adornoDer {
    display: none;
  }

  @include from(lg) {
    &__content {
      position: relative;
      padding-left: 4.5rem;
    }

    &__adornoIzq {
      display: block;
      position: absolute;
      left: 0;
      height: 100%;
    }

    &__adornoDer {
      display: block;
      position: absolute;
      right: 0;
      height: 100%;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 2rem;
    filter: grayscale(100%);
  }

  &__name {
    font-size: 1.75em;
    font-family: 'BD Megatoya Bold';

    @include from(lg) {
      font-size: 2.25em;
      margin-bottom: 1rem;
    }
  }

  &__title {
    font-size: 1em;
    font-family: 'BD Megatoya Regular';
    font-weight: 500;
    @include from(lg) {
      font-size: 1.3em;
      margin-bottom: 2rem;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 0 2rem;

    &--item {
      display: flex;
      align-items: center;
      gap: 0.5em;

      img {
        width: 2em;
        height: 2em;
      }

      a,
      p {
        padding: 0;
        margin: 0;
        font-size: 0.9em;
        // text-decoration: underline;

        @include from(lg) {
          font-size: 1em;
        }
      }

      a {
        text-decoration: underline;
      }
    }
  }

  &__description {
    padding: 1rem;
    @include from(m) {
      padding: 2rem 4rem;
    }
  }

  &__title2 {
    font-size: 2.75em;
  }

  &__desc {
    font-size: 1.2em;
    line-height: 150%;
    font-family: 'BD Megatoya Regular';
  }
}
