.PartherList {
  background-color: white;
  padding: 2rem 2rem 2rem;
  margin: 0;
  position: relative;
  border-radius: 0.25em;

  &__content {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title--blue {
    @include titlePortafolio;
    color: var(--color-primary-500);
  }

  &__title--black {
    @include titlePortafolio;

    color: var(--color-grey-900);
  }
}
