.Header {
  background-color: #222222;
  height: 3.5rem;
  width: 100%;
  padding: 0 1rem;

  @include from(768px) {
    padding: 4rem 4rem;
  }

  &__menu {
    width: 2rem;
    height: 2rem;
    color: white;

    @include from(768px) {
      display: none;
    }
  }

  &__logo {
    width: 9.25rem;
    justify-self: center;

    @include from(768px) {
      width: 18.25rem;
      justify-self: start;
    }
  }

  &__buttons {
    justify-self: end;

    display: flex;
    gap: 0.25rem;
    @include from(768px) {
      justify-self: end;
      gap: 2rem;

      img {
        width: 2.25rem;
      }
    }
  }
}

.HeaderNav {
  position: relative;
  background-color: var(--color-grey-900);

  @include to(768px) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1rem 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: var(--z-overlay);
  }

  @include from(768px) {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 4rem;

    &::after {
      content: '';
      height: 1px;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: calc(100% - 6rem);

      margin: 0 auto;
    }
  }

  &--active {
    @include to(768px) {
      transform: translateX(0);
      width: 80%;
      z-index: var(--z-overlay);
    }
  }

  &__Logo {
    width: 8.75rem;
    @include from(768px) {
      display: none;
    }
  }

  &__Icon {
    position: absolute;
    top: 0.85rem;
    right: 0.85rem;
    width: 2rem;
    height: 2rem;
    color: white;
    @include from(768px) {
      display: none;
    }
  }

  &__Links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;

    @include from(768px) {
      flex-direction: row;
      height: auto;
      gap: 3rem;
    }

    a {
      font-family: 'BD Megatoya Regular';
      color: #ffffff;
    }
  }

  &__Select {
    display: block;
    width: 6rem;
    height: 2rem;

    @include from(768px) {
      width: 4rem;
    }
  }
}

.Footer {
  background-color: var(--color-grey-900);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0.5rem 1.5rem;

  @include from(m) {
    padding: 2rem 4rem 1rem;
  }

  &__logo {
    max-width: 12rem;
    margin-bottom: 3rem;
  }

  &__content {
    margin-bottom: 1rem;
    h4 {
      font-family: 'BD Megatoya Regular';
      color: white;
    }

    p {
      color: white;
      font-family: 'BD Megatoya Light';

      @include from(lg) {
        font-size: 0.8rem;
      }
    }
  }

  &__text {
    width: 100%;
    position: relative;
    color: white;
    font-family: 'BD Megatoya Light';
    text-align: center;

    &::after {
      content: '';
      height: 1px;
      background-color: white;
      position: absolute;
      top: -1rem;
      left: 0;
      right: 0;
      width: calc(100% - 0.1rem);
      margin: 0 auto;

      @include from(m) {
        width: calc(100% - 0rem);
      }
    }
  }
}
