.Header {
  background-color: #222222;
  height: 3.5rem;
  width: 100%;
  padding: 0 1rem;

  &__menu {
    width: 2rem;
    height: 2rem;
  }

  &__logo {
    width: 9.25rem;
  }

  &__buttons {
    justify-self: end;

    display: flex;
    gap: 0.25rem;
  }
}
