.WhoCard {
  position: relative;
  width: 100%;
  height: 18rem;
  overflow: hidden;
  border-radius: 1em;
  transition: height 0.3s;

  &__image {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    bottom: 0.5rem;
    left: 0.5rem;
    z-index: 100;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
  }

  &__title {
    margin-bottom: 0.25em;
  }

  &__button {
    position: absolute;
    align-self: center;
    bottom: -4rem; /* Esto lo coloca fuera del componente */
    background-color: var(--color-primary-500);
    border-radius: 0.5rem;
    font-family: 'BD Megatoya Bold';
    text-transform: uppercase;
    padding: 1em 1.2em;
    transition: transform 0.3s ease-in-out;

    &:hover {
      background-color: var(--color-primary-600);
      color: white;
    }
  }

  &:hover .WhoCard__button,
  &:hover .WhoCard__content {
    transform: translateY(
      -2rem
    ); /* Mueve el botón hacia arriba al hacer hover */
  }
}
